registration-2nd-page .login_container {
    height: 600px;
}

.progressIcon {
    width: 500px;
    margin-top: 50px;
}

.registration-2nd-page #confirm-ref {
    padding: 50px 50px 10px 50px;
    text-align: center;
}